<h1>All People</h1>

<ul>
  <% @people.each do |person| %>
    <li>
      Name: <%= person.name %><br>
      Species: <%= person.species.name if person.species %><br>
      Films:
      <ul>
        <% person.films.each do |film| %>
          <li><%= film.title %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
