<div >
  <h2><%= @film.title %></h2>
  <p><strong>Release Date:</strong> <%= @film.release_date %></p>
  <p><strong>Opening Crawl:</strong></p>
  <p><%= @film.opening_crawl %></p>
</div>

<%= link_to 'Back', films_path %>